.background {
    margin: 30px;
    width: 1000px;
    height: 450px;
    border: 0.1px groove gray;
    border-radius: 25px;
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: space-between;
  }
  
  .home__conatiner {
    color: #00ff66;
    background-color: #171717;
    width: 500px;
    height: 200px;
    border-radius: 10px;
    position: relative;
    top: 20%;
  }
  .home__content {
    position: relative;
    top: 10%;
    left: 10%;
  }

  .back__button {
    position: relative;
    top: 2%;
    left: -13%;
  }

  .back__button button {
    background-color: #00ff66;
    border-radius: 50%;
    border: inherit;
    width: 40px;
    height: 40px;
  }
  .back__button {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  .back__button button {
    background-color: #00ff66;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    color: #171717;
  }
  
  .back__button button:focus {
    outline: none;
  }
  
  .back__button button:hover {
    color: #00ff66;
  }
  
  
  @media (max-width: 600px) {
    .background {
      width: 300px;
      height: 400px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      top: 50%;
      border-radius: 25px;
    }
    
    .home__conatiner {
      color: #00ff66;
      background-color: #171717;
      width: 90%;
      height: auto;
      border-radius: 10px;
      position: relative;
      top: 20%;
      margin-bottom: 20px;
      padding: 10px;
    }
    
    .home__content {
      position: relative;
      top: 10%;
      left: 10%;
    }
    .back__button {
        position: absolute;
        top: -60%;
        left: 5px;
      }
    
      .back__button button {
        font-size: 16px;
      }
  }
  
  